@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.container {
    margin: auto;
    width: 400px;
    position: absolute;
    z-index: 1;
    top: -60px;
    left: -140px;
}

.container svg{
    transform: scale(0.3);
}

.path--background {
    fill: rgb(34, 213, 201);
    stroke: #fff;
    stroke-width: 0px;
}

.pulse {
    fill: rgb(255, 74, 74) !important;
}

.path--foreground {
    fill: #eee;
    stroke: #eee;
    stroke-width: 2px;
}

.label {
    font: 90px "Open Sans";
    font-weight: 900;
    text-anchor: middle;
    fill: rgb(34, 213, 201);
}

.rating-area {
    overflow: hidden;
    width: 265px;
    margin: 0 auto;
    position: fixed;
    right: 0px;
    top: 10px;
    z-index: 1;
}
.rating-area:not(:checked) > input {
    display: none;
}
.rating-area:not(:checked) > label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
    content: '★';
}
.rating-area > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
    position: relative;
}